body {
    margin: 0;
	overflow: hiddemmn;
}
header {
    background: #fff;
    border: none;
	width: 300%;
	display:inline-block;
    border-bottom: 1px solid red;
	position: fixed;
	z-index: 1;
}
section.wrapper {
	display: flex;
	align-items: center;

}
section.wrapper div.left {

}
section.wrapper div.left img {

}
section.wrapper nav.right {
	padding-left: 350px;

}
section.wrapper nav.right ul {
    display: flex;
    margin-right:80px;
	height: 10px;


}
section.wrapper nav.right ul li {
	display: flex;
	align-items: center;
	text-align: center;
	list-style: none;
	margin-left: 150px;
}
section.wrapper nav.right ul li:last-child {
}

section.wrapper nav.right ul li a {
	color: #000;
	text-decoration: none;
}
#menu-icon {
	display: none;
	width: 40px;
}
#menu-icon img {
	width: 100%;
	display: block;
	margin-right:0;
	
}
#mobile-menu {
	position: fixed;
	top: 0;
	right: -290px;
	background-color: rgb(0, 4, 255);
	padding: 30px;
	z-index: 40;
	bottom: 0;
	width: 200px;
	padding-top: 40px;
	transition: all 0.4s ease-in;
	border: 3px solid rgb(0,0,0);
	height: 290px;
}
span.overlay {
	background: rgba(158, 140, 140, 0.26);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display:none;
	height: 500vh;
	width: 100%;
	position: fixed;
}
span.close img {
	display: block;
	width:100px;
	filter:unset;
}

span.close {
	position: fixed;
	right: 300px;
	top: 40px;
	width: 32px;
	display: block;
	height: 32px;
	cursor: pointer;
	z-index: 1;
}
span.close.active {
	display: block;
}
#mobile-menu.active {
	right:0;
}
span.overlay.active {
	display:block;
}
#mobile-menu ul li {
    margin-bottom: 20px;
	list-style: none;
	justify-content: space-between;
}
#mobile-menu ul li:last-child {
	margin-bottom: 0;
}
#mobile-menu ul li a {
	font-size: 28px;
	text-decoration: none;
	font-weight: bold;
	color: rgb(255, 255, 255);
	display: block;
}
@media all and (max-width: 980px) {
    #menu-icon {
		display:block;
	}
	header nav.right {
		display: none;
	}
}
#spotlight {
	background-image: linear-gradient(to right,white,lightgray);
	display: flex;

}
#spotlight div.left {
	padding-top: 280px;
	padding-left: 100px;
}
#spotlight div.left ul {
	border-left: solid 3px red;
}
#spotlight div.left ul li {
	list-style: none;
    
}
#spotlight div.left ul li:first-child {
	font-size: 75px;
}
#spotlight div.left ul li:nth-child(2) {
	font-family: sans-serif;
	font-size: 75px;
}
#spotlight div.left ul li:first-child {
	font-size: 35px;
	font-weight: 50px;
}
#spotlight div.right {
	padding-left: 300px;
	padding-bottom: 50px;
   
}
#spotlight div.right img {
	border-bottom: solid 5px red;
	border-left: 50px;
}
#about {
    margin-bottom:-110px;

}
#about div.top {
	text-align: center;

}
#about div.top h1 {
	font-family: 'Roboto', sans-serif;
}
#about div.bottom {
	padding-top: 50px;
    background-image: linear-gradient(to left,white,lightgray);

}
#about div.bottom ul {
	display: flex;
}
#about div.bottom ul li {
	list-style: none;
	display: flex;
}
#about div.bottom ul li:first-child {
	position: relative;
    padding: 150px;
	padding-left: 350px;
	padding-right: 350px;

}
#about div.bottom ul li:last-child {
	position: absolute;
	padding-left: 350px;
}
#about div.bottom p {
	background: red;
	border-radius: 20px 10px;
	padding-top: 100px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	color: #fff;
}
#Gallery {
	padding-top: 100px;
	padding-bottom: 50px;
}
#Gallery1 h1 {
	align-items: center;
	padding-bottom: 1px;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 25px;
}
#Gallery1 div.gallery {
	background-image: linear-gradient(to top,white,lightgray);
	align-items: center;
	justify-content: space-between;
    text-align: center;
}
#Gallery1 div.gallery img {
	padding-top: 80px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 50px;
    border-radius: 2px 5px;
}
#Contact {

}
#Contact div.top {
	text-align: center;
	align-items: center;
	padding-bottom: 50px;

}
#Contact div.top h1 {

}
#Contact div.bottom {
	background-image: linear-gradient(to bottom,white,lightgray);
}
#Contact div.bottom ul {
	display: flex;


}
#Contact div.bottom ul li {
	list-style: none;
    align-items: center;
    padding-left: 150px;
}
#Contact div.bottom ul li img {
	border-radius:50px;
}
div.footer {
	align-items: center;
	text-align: center;
}
div.footer h2 {
	color: red;
}
@media all and (max-width:980px) {
	#spotlight {
		margin-right: -350px;
	}
	#spotlight div.right {

	}
	header {
		margin-right: -350px;
	}
	#about {
		margin-right: -350px;
	}
	#about h1 {
		padding-left: 100px;
	}
	#about div.bottom p {
		background: red;
		border-radius: 20px 10px;
		padding-top: 100px;
		padding-bottom: 50px;
		padding-left: 150px;
		padding-right: 150px;
		color: #fff;
		font-size:20px;
	}
	#Gallery {
		margin-right: -350px;
	}
	#Contact {
        margin-right: -350px;
	}
	div.footer {
        margin-right: -350px;
	}
	#menu-icon img {
		padding-left: 1100px;
	}
	#about div.bottom img {
		padding-top: 6px;;
	}
}
@media all and (max-width: 768px) {
	header {
		margin-right: -550px;
	}
    #spotlight {
		margin-right: -550px;
	}
	#Gallery {
		margin-right: -550px;
	}
	#about {
		margin-right:-550px;
	}
	#Contact {
		margin-right: -550px;
	}
	div.footer {
        margin-right: -550px;
	}

}
@media all and (max-width:480px) {
	header {
		width:100%;
		overflow-x:hidden;
	}
	body {
	}
	#menu-icon img {
		width: 100%;
		display: block;
		margin-left:-780px;
		
	}
	#Gallery1 div.gallery {
		width:200%;
	}
	#about div.bottom ul li:last-child {
		position: absolute;
		padding-left: 150px;
	}
	#about div.bottom ul li:fisrt-child {
		position: absolute;
		padding-left: 150px;
	}
	#about div.bottom p {
		margin-left:-250px;
	}
	#Gallery1 h1 {
		padding-left: 100px;
	}
    #spotlight {
		margin-right: -350px;
		display:grid;
		width:105%;
		overflow-x: hidden;
	}
	#spotlight div.left {
        padding-top: 100px;
	}
	#spotlight div.right {
		padding-left:50px;
	}
	#about {
		margin-right:-50px;
	}
	#about div.top h1 {
		padding-left: 10px;
	}
	#about div.bottom ul li p {
        font-size: 20px;
		padding-left: 10px;
		padding-right: 1px;
	}
	#about div.bottom ul li img {
		border-bottom:none;
	}
	#about div.bottom {
		padding-right: 400px;
		margin-left: 0%;
		margin-right: 0px;
	}
	#Gallery {
	    margin-right: -850px;
		align-items: center;
		text-align: center;
	}
    #Contact div.bottom {
		width:98%;
	}
	html {
		height:auto;
		overflow-x: hidden;

	}
	body {
		overflow-x:hidden;
	}
	#Gallery1 {
		margin:0;
	}
    #Gallery1 div.gallery {
		display:grid;
		align-items: center;
		width:118%;
	}
	#Gallery1 div.gallery img {
        padding-left: 150px;
	}

    #Contact {
        margin-right: -50px;
	}
	#Contact div.bottom ul {
		padding-left:0px;
		padding-right: 300px;
		
	}
	#Contact div.bottom ul img {
		width:70px;
		height: 70px;
	}
	#Contact div.bottom ul li {
		display:grid;
		padding-left: 30px;
	}
	#Contact div.bottom {

	}
	div.footer {
        margin-right: -50px;

	}
	#about div.bottom p {
		background: red;
		border-radius: 20px 10px;
		padding-top: 100px;
		padding-bottom: 50px;
		padding-left: 80px;
		padding-right: 80px;
		color: #fff;
		font-size:30px;
	}
	#about div.bottom ul li:last-child {
		padding-top:10px;
	}
@media all and (max-width:360px) {
	#spotlight {
		margin-right:-1080px;
	}
	#about {
		margin-right:-1080px;
	}
	#Gallery {
		margin-right: -1080px;
	}

    #Contact {
		margin-right: -1080px;
	}
	div.footer {
        margin-right: -1080px;
	}
	#about div.bottom p {
		background: red;
		border-radius: 20px 10px;
		padding-top: 100px;
		padding-bottom: 50px;
		padding-left: 80px;
		padding-right: 80px;
		color: #fff;
		font-size:40px;
	}
	#spotlight div.left ul li:last-child {
		font-size:30px;
	}
	#menu-icon img {
		width:100px;
		height:100px;
	}
	#about div.bottom ul li:last-child {
		padding-top:15px;
	}
	div.footer h2 {
		font-size:35px;
	}
	#spotlight div.right {
		padding-top:100px;
	}
	#spotlight div.left ul li:first-child {
		font-size: 85px;
	}
	#spotlight div.left ul li:nth-child(2) {
		font-family: sans-serif;
		font-size: 85px;
	}
	#about div.top h1 {
		font-size:40px;
	}
	#Gallery1 h1 {
		font-size:40px;
	}
	#about img {
		width: 300px;
		height:400px;
	}
	#about div.bottom ul li {
        position:relative;
	}
	#about div.bottom ul li:last-child {
		bottom:-725px;
	}
	#about div.bottom ul li:last-child{
		border-bottom:0;
	}
	#Contact div.top h1 {
		font-size:40px;
		font-family:'Roboto',sans-serif;
	}
	body {
		overflow-x:hidden;
	}
	header div.left img {
		width:150px;
		height:100px;
	}

}
@media all and (max-width:320px) {
    #spotlight {
		margin-right:-970px;
	}
	#about {
		margin-right:-970px;
	}
	#Gallery {
		margin-right: -970px;
	}

    #Contact {
		margin-right: -970px;
	}
	div.footer {
        margin-right: -970px;
	}
	#about div.bottom {
		padding-left:-10px;;
	}
	#about div.bottom p {
		background: red;
		border-radius: 20px 10px;
		padding-top: 100px;
		padding-bottom: 50px;
		padding-left: 70px;
		padding-right: 70px;
		color: #fff;
		font-size:45px;
	}
	header {
		background: #fff;
		width: 100%;
		border-bottom: 3px solid red;
		position: fixed;
		z-index: 1;
	}
	#menu-icon img {
		width:100px;
		height:100px;
		margin-right:-100px;		
	}
	body {
		overflow-x:hidden;
	}
    #spotlight div.left ul li:last-child {
		font-size:33px;
	}
	#about div.bottom ul li:last-child {
		padding-top:500px;
	}
	#about div.bottom ul li {
        position:relative;
	}
	#about div.bottom ul li:last-child {
		bottom:-735px;
	}
	header div.left img {
	    margin-right:-100px;
	}
}